:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --footer-text-cololr: #e7e9fc;
  --logo-text-color: #4d5ae5;
  --primary-bg-color: #ffffff;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}
/* logo */
.logo {
  color: var(--logo-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
/* header */
.logo-studio {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* nav */
.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.site-nav :hover,
.site-nav :focus {
  color: #404bbf;
}
/* address */
.address{
  font-style: normal;
}

.address-nav a {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.address-nav :hover,
.address-nav :focus{
  color: #404bbf;
}
.list-address{
  
}
/* секція 1 */
.section-hero {
  background-color: var(--primary-text-color);
}
/* Заголовок-герой */
.title-hero {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
/* кнопка */
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
/* заголовок */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
}
/* переваги */
.advantages-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.advantages-list .text {
  font-size: 16px;
  line-height: 1.5;
}

/* роботи */
.section {
}
/* команда */
.team-list .title {
  color: var(--title-text-color);
}

/* ======================портфоліо ================= */
.section-buttons .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.button {
  color: var(--primary-bg-color);
  background-color: var(--logo-text-color);
}
.button-primary {
}

.list-work .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.list-work .text {
  font-size: 16px;
  line-height: 1.5;
}
/* підвал */
.footer .text {
  font-size: 16px;
  line-height: 1.5;
}
